<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.4/phpunit.xsd"
  bootstrap="autoload.php">

  <testsuites>
     <testsuite name="Password Strength Validator">
       <directory suffix="Test.php">src</directory>
     </testsuite>
  </testsuites>

</phpunit>
